/* Đấu trường */

#arena{
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
}

/* Rick hoặc Morty */

.player{

    position:absolute;

    bottom:70px;
    left:120px;

    width:180px;
    height:260px;

    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;

}

/* Đồng đội AI */

.ally{

    position:absolute;

    bottom:70px;
    left:320px;

    width:180px;
    height:260px;

    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;

}

/* Đối thủ */

.enemy{

    position:absolute;

    bottom:70px;
    right:120px;

    width:180px;
    height:260px;

    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;

}

/* Hiệu ứng */

.hit{

    animation:hit .12s;

}

@keyframes hit{

0%{transform:translateX(0);}
25%{transform:translateX(-10px);}
50%{transform:translateX(10px);}
75%{transform:translateX(-6px);}
100%{transform:translateX(0);}

}
/* ======================
   GAME MAP
====================== */

#gameMap{

    width:100vw;
    height:100vh;

    display:none;

    background-size:cover;

    background-position:center;

    position:relative;

}


#mapName{

    position:absolute;

    top:20px;

    left:50%;

    transform:translateX(-50%);

    font-size:35px;

    color:white;

    font-weight:bold;

    text-shadow:

    0 0 10px black,
    0 0 20px black;

}
#gameCanvas{
    display:block;
    margin:auto;
    background:#000;
    width:100%;
    max-width:1280px;
    aspect-ratio:16/9;
}
